.dark {
  --background:  rgb(76, 79, 105);
  --accent: rgb(223, 142, 29);
  --primary: rgb(239, 241, 245);
}

.light {
  --background: rgb(239, 241, 245);
  --accent: rgb(223, 142, 29);
  --primary:  rgb(76, 79, 105);
}

:root {
  background-color: var(--background,  rgb(76, 79, 105));
  color: var(--primary, rgb(239, 241, 245));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
